.cache
.bash_logout
.ICEauthority
.bash_history
.sudo_as_admin_successful

.config/ibus
.config/pulse
.config/monitors.xml
.config/gedit/accels
.config/gtk-3.0/servers
.config/user-dirs.locale
.config/gnome-initial-setup-done
.config/nautilus/desktop-metadata
.config/evolution/sources/system-proxy.source

.local/share/icc
.local/share/Trash
.local/share/evolution
.local/share/xorg/*.log
.local/share/gvfs-metadata
.local/share/recently-used.xbel
.local/share/session_migration-ubuntu
.local/share/gnome-shell/notifications
.local/share/gnome-shell/application_state
.local/share/app-info/xmls/extensions-web.xml
.local/share/gnome-software/ubuntu-reviews.db
.local/share/gnome-settings-daemon/input-sources-converted

.local/share/keyrings
.config/mimeapps.list
.config/enchant/en_US.dic
.config/enchant/en_US.exc
